# ==========================================
# ANA - MICROSERVICE WORKER CONFIGURATION
# ==========================================

# 1. Message Broker (RabbitMQ)
# A string de conexão amqp://usuario:senha@ip:porta
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Fila que o worker ficará escutando
RABBITMQ_QUEUE=ana.worker

# 2. Supabase (Database Backend)
# URL do seu projeto e a Service Role Key (não a anon key, pois o worker precisa salvar dados protegidos)
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ey...

# 3. LLM Providers
# Insira a chave do provider que você vai usar (configure o LLM_PROVIDER no cógido ou deixe OpenAI default)
OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-5-mini

GROQ_API_KEY=gsk_...

# 4. Worker Settings
# Concovência (quantas mensagens processar ao mesmo tempo localmente num container. Padrão: 5)
CONCURRENCY=5
